<?xml version="1.0" encoding="utf-8"?>
<!-- For more information, see: -->
<!-- https://learn.microsoft.com/en-us/visualstudio/test/configure-unit-tests-by-using-a-dot-runsettings-file -->
<!-- https://github.com/microsoft/codecoverage/blob/main/docs/configuration.md -->
<RunSettings>
  <RunConfiguration>
    <TargetPlatform>x64</TargetPlatform>
    <TreatTestAdapterErrorsAsWarnings>False </TreatTestAdapterErrorsAsWarnings>
    <!-- Path relative to solution directory -->
    <ResultsDirectory>./TestResults</ResultsDirectory>
    <MaxCpuCount>3</MaxCpuCount>
    <!-- Timeout in milliseconds. If 0, timeout will be infinity -->
    <TestSessionTimeout>60000</TestSessionTimeout>
    <TreatNoTestsAsError>False</TreatNoTestsAsError>
  </RunConfiguration>

  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="Code Coverage" uri="datacollector://Microsoft/CodeCoverage/2.0" assemblyQualifiedName="Microsoft.VisualStudio.Coverage.DynamicCoverageDataCollector, Microsoft.VisualStudio.TraceCollector, Version=11.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a">
        <Configuration>
          <CoverageLogLevel>Dumps</CoverageLogLevel>
          <InstrumentationLogLevel>Dumps</InstrumentationLogLevel>
          <CoverageFileLogPath>coverage.log</CoverageFileLogPath>
          <!-- Below doesn't work 😦. For details, see https://github.com/microsoft/codecoverage/issues/76 -->
          <CoverageFileName>coverage.cobertura.xml</CoverageFileName>
          <Format>Cobertura</Format>
          <PerTestCodeCoverage>False</PerTestCodeCoverage>
          <IncludeTestAssembly>False</IncludeTestAssembly>
          <CodeCoverage>
            <CommunicationTimeout> 120000</CommunicationTimeout>
            <ModulePaths>
              <Include>
                <ModulePath>.*Dappery[^/\\]+\.dll$</ModulePath>
              </Include>
              <Exclude>
                <ModulePath>.*Tests\.dll$</ModulePath>
              </Exclude>
            </ModulePaths>
            <Attributes>
              <Exclude>
                <Attribute>^System\.Diagnostics\.DebuggerHiddenAttribute$</Attribute>
                <Attribute>^System\.Diagnostics\.DebuggerNonUserCodeAttribute$</Attribute>
                <Attribute>^System\.CodeDom\.Compiler\.GeneratedCodeAttribute$</Attribute>
                <Attribute>^System\.Diagnostics\.CodeAnalysis\.ExcludeFromCodeCoverageAttribute$</Attribute>
                <Attribute>^System\.ObsoleteAttribute$</Attribute>
                <Attribute>^System\.Runtime\.CompilerServices\.CompilerGeneratedAttribute$</Attribute>
                <Attribute>^System\.Text\.RegularExpressions\.GeneratedRegexAttribute$</Attribute>
              </Exclude>
            </Attributes>
            <!-- Match the company name property in the assembly: -->
            <CompanyNames>
              <Exclude>
                <CompanyName>.*microsoft.*</CompanyName>
              </Exclude>
            </CompanyNames>
            <CollectFromChildProcesses>True</CollectFromChildProcesses>
            <UseVerifiableInstrumentation>False</UseVerifiableInstrumentation>
            <EnableStaticNativeInstrumentation>False</EnableStaticNativeInstrumentation>
            <EnableDynamicNativeInstrumentation>False</EnableDynamicNativeInstrumentation>
            <EnableDynamicManagedInstrumentation>False</EnableDynamicManagedInstrumentation>
            <EnableStaticManagedInstrumentation>False</EnableStaticManagedInstrumentation>
            <ExcludeAssembliesWithoutSources>MissingAll</ExcludeAssembliesWithoutSources>
          </CodeCoverage>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
