<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="Code Coverage" uri="datacollector://Microsoft/CodeCoverage/2.0" assemblyQualifiedName="Microsoft.VisualStudio.Coverage.DynamicCoverageDataCollector, Microsoft.VisualStudio.TraceCollector, Version=11.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a">
        <Configuration>
          <CoverageLogLevel>Dumps</CoverageLogLevel>
          <InstrumentationLogLevel>Dumps</InstrumentationLogLevel>
          <ManagedVanguardLogLevel>Info</ManagedVanguardLogLevel>
          <CoverageFileLogPath>TestResults/coverage.log</CoverageFileLogPath>
          <!-- Below doesn't work 😦. For details, see https://github.com/microsoft/codecoverage/issues/76 -->
          <!-- <CoverageFileName>D:/git/Dappery/coverage.cobertura.xml</CoverageFileName> -->
          <Format>cobertura</Format>
          <PerTestCodeCoverage>False</PerTestCodeCoverage>
          <IncludeTestAssembly>False</IncludeTestAssembly>
          <CodeCoverage>
            <CommunicationTimeout> 120000</CommunicationTimeout>
            <ModulePaths>
              <Include>
                <ModulePath>.*Dappery[^/\\]*\.dll$</ModulePath>
              </Include>
              <Exclude>
                <ModulePath>.*Tests\.dll$</ModulePath>
              </Exclude>
            </ModulePaths>
            <CollectFromChildProcesses>True</CollectFromChildProcesses>
            <EnableStaticNativeInstrumentation>False</EnableStaticNativeInstrumentation>
            <EnableDynamicNativeInstrumentation>False</EnableDynamicNativeInstrumentation>
            <EnableDynamicManagedInstrumentation>True</EnableDynamicManagedInstrumentation>
            <EnableStaticManagedInstrumentation>False</EnableStaticManagedInstrumentation>
            <ExcludeAssembliesWithoutSources>MissingAll</ExcludeAssembliesWithoutSources>
          </CodeCoverage>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
