name: "Infersharp"

on: [workflow_dispatch, pull_request ]

permissions:
  contents: read
  security-events: write

jobs:
  infersharp:
    name: Infersharp
    if: github.actor != 'dependabot[bot]' && github.event.pull_request.user.login != 'dependabot[bot]'
    runs-on: ubuntu-latest
    timeout-minutes: 20

    env:
      NUGET_PACKAGES: ${{ github.workspace }}/.nuget/packages
      DOTNET_NOLOGO: true
      DOTNET_CLI_TELEMETRY_OPTOUT: true

    steps:
      - id: checkout
        name: Checkout repo
        uses: actions/checkout@v6.0.0

      - id: setup-dotnet
        name: Setup dotnet
        uses: actions/setup-dotnet@v5.0.1
        with:
          cache: true
          cache-dependency-path: "**/packages.lock.json"
          dotnet-version: '10.0.x'

      - id: dotnet-restore
        name: Install dependencies
        # OK as doesn't run for Dependabot.
        run: dotnet restore --locked-mode

      - id: build
        name: Build
        run: dotnet build --configuration Release --no-restore --tl

      - id: run-infersharp
        name: Run Infer#
        uses: microsoft/infersharpaction@v1.5
        with:
          binary-path: "artifacts/bin"

      - id: print-results
        name: Infer# analysis results
        run: echo "${{ steps.run-infersharp.outputs.results }}"

      - id: upload-sarif
        name: Upload SARIF output to GitHub Security Center
        continue-on-error: true
        uses: github/codeql-action/upload-sarif@v4.31.5
        with:
          sarif_file: infer-out/report.sarif
