name: Infersharp

defaults:
  run:
    # bash --noprofile --norc -e(o) pipefail {0}
    shell: bash

on: [workflow_dispatch, pull_request]

env:
  CHECK_PERMISSIONS: 0

permissions: {}

concurrency:
  # pull request number or branch name if not a pull request
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  pre_job:
    name: Check for Duplicate Actions
    # continue-on-error: true # Uncomment once integration is finished
    runs-on: ubuntu-latest
    # Map a step output to a job output
    permissions:
      actions: write
      contents: read
    outputs:
      should_skip: ${{ steps.check-duplicate-actions.outputs.should_skip }}
    steps:
      - id: check-permissions
        name: Check action permissions
        uses: GitHubSecurityLab/actions-permissions/monitor@bf82d13b9b10051d224345ab9184f5ede0a94289 # v1.0.2-beta9
        if: env.CHECK_PERMISSIONS == '1'
      - id: check-duplicate-actions
        name: Check for duplicate actions
        uses: fkirc/skip-duplicate-actions@f75f66ce1886f00957d99748a42c724f4330bdcf # v5.3.1
        with:
          cancel_others: true
          skip_after_successful_duplicate: true
          concurrent_skipping: same_content_newer
  infersharp:
    name: Infersharp
    needs: pre_job
    if: github.actor != 'dependabot[bot]' && github.event.pull_request.user.login != 'dependabot[bot]' && needs.pre_job.outputs.should_skip != 'true'
    runs-on: ubuntu-latest
    timeout-minutes: 20
    env:
      NUGET_PACKAGES: ${{ github.workspace }}/.nuget/packages
      DOTNET_NOLOGO: true
      DOTNET_CLI_TELEMETRY_OPTOUT: true
    permissions:
      contents: read # Check out repo
      security-events: write # Upload SARIF
    steps:
      - id: checkout-repo
        name: Checkout repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - id: setup-dotnet
        name: Setup dotnet
        uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
        with:
          cache: true
          cache-dependency-path: "**/packages.lock.json"
          dotnet-version: 10.0.x
      - id: dotnet-restore
        name: Install dependencies
        # OK as doesn't run for Dependabot.
        run: dotnet restore --locked-mode
      - id: build
        name: Build
        run: dotnet build --configuration Release --no-restore --tl
      - id: run-infersharp
        name: Run Infer#
        uses: microsoft/infersharpaction@b749060de518f410f92c87d37d2366e5e9d7c5fc # v1.5
        with:
          binary-path: artifacts/bin
      - id: print-results
        name: Infer# analysis results
        run: echo "${{ steps.run-infersharp.outputs.results }}"
      - id: upload-sarif
        name: Upload SARIF output to GitHub Security Center
        continue-on-error: true
        uses: github/codeql-action/upload-sarif@6bc82e05fd0ea64601dd4b465378bbcf57de0314 # v4.32.1
        with:
          sarif_file: infer-out/report.sarif
